header {
    padding: 0 !important;
}

h1, nav {
    text-align: center;
    color: white;
    background-color: #6c7ae0;
    justify-content: center;
    margin-bottom: 1px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 1em;
}

table {
    width: 95%;
    margin: 0 auto;
}

table thead tr th {
    color: white;
    background-color: #6c7ae0;
}

footer {
    text-align: center;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: darkgray;
}

#home #homeNav,
#users #usersNav,
#teams #teamsNav,
#league #leagueNav,
#fixtures #fixturesNav,
#missing #missingNav,
#upcoming #upcomingNav,
#predictions #predictionsNav
{
    color: black;
}

#homeGoals, #awayGoals {
    width: 3em;
}

.table-striped tr:nth-child(even) th,
.table-striped tr:nth-child(even) td {
    background: #f8f6ff;
}

select, form, input[type=date], input[type=text] {
    margin-bottom: 0;
}