<!DOCTYPE html>
<html lang="en" data-theme="light" th:fragment="layout(id, content)" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Predictions</title>
    <link rel="stylesheet" href="/css/pico.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/scripts/javascript.js"></script>
</head>

<body th:attr="id=${id}">
    <!-- Main Navigation -->
    <header>
        <h1>Predictions - Spring Boot</h1>
        <nav th:fragment="header">
            <ul>
                <li><a id="homeNav" href="/">Home</a></li>
                <li><a id="usersNav" href="/users">Users</a></li>
                <li><a id="teamsNav" href="/teams">Teams</a></li>
                <li><a id="leagueNav" href="/league">League</a></li>
                <li><a id="fixturesNav" href="/fixtures">Results</a></li>
                <li><a id="missingNav" href="/missing">Awaiting</a></li>
                <li><a id="upcomingNav" href="/upcoming">Upcoming</a></li>
                <li><a id="predictionsNav" href="/predictions">Predictions</a></li>
            </ul>
        </nav>
        <div>&nbsp;</div>
    </header>

    <div th:replace="${content}"></div>

    <!-- Footer -->
    <footer th:fragment="footer">&copy; 2023 Simon Robins &lt;simonrobins@mac.com&gt;</simonrobins>
    </footer>

</body>

</html>